$primary-font: 'Open Sans', 'Roboto', sans-serif;
$secondary-font: 'Work Sans', 'Arial', sans-serif;

$primary-color: #3ADFD5;
$secondary-color: #558AFF;

$font-size: 1.1rem;

$card-background-color: #F7F8FC;
$border-color: #E5EBF5;
$border-radius: 12px;

$text-color: #000;

$matIconScale: 2;
